body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-form h1,
  .order-form h2 {
    text-align: center;
  }
  
  .menu-category h3 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .quantity {
    width: 60px;
    margin-left: 10px;
    /* Allows spacing between checkbox and input */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
  }
  
  .total-cost {
    font-size: 18px;
    text-align: right;
    margin-top: 20px;
  }
  
  button {
    width: auto;
    /* Makes the button size to fit its text content */
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    /* Centers button in the form */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #paypal-button-container {
    margin-top: 20px;
    /* Space above the PayPal button container */
  }


  .order-another {
    text-align: center;
    margin-top: 20px;
  }
  
  .order-another a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .order-another a:hover {
    background-color: #0056b3;
  }